services:
  aima:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: aima_app
    volumes:
      - ./code:/app
      - ./data:/data
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
      - OPENAI_API_KEY=${OPENAI_API_KEY}
